# Toronto Neighborhood Data

In [1]:
import pandas
import requests
from bs4 import BeautifulSoup
website_text = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(website_text,'xml')

table = soup.find('table',{'class':'wikitable sortable'})
table_rows = table.find_all('tr')

data = []
for row in table_rows:
    data.append([t.text.strip() for t in row.find_all('td')])

df_raw = pandas.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df_raw = df_raw[~df_raw['PostalCode'].isnull()]  # to filter out bad rows

In [2]:
df_raw.head(10)

   PostalCode           Borough     Neighbourhood
1         M1A      Not assigned      Not assigned
2         M2A      Not assigned      Not assigned
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights
8         M6A        North York    Lawrence Manor
9         M7A      Queen's Park      Not assigned
10        M8A      Not assigned      Not assigned

### Delete all rows with Borough values as Not assigned

In [3]:
df_filtered = df_raw.drop(df_raw[df_raw.Borough == 'Not assigned'].index)

In [4]:
df_filtered.head(10)

   PostalCode           Borough     Neighbourhood
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights
8         M6A        North York    Lawrence Manor
9         M7A      Queen's Park      Not assigned
11        M9A         Etobicoke  Islington Avenue
12        M1B       Scarborough             Rouge
13        M1B       Scarborough           Malvern

### Replace the Neighbourhood names with Borough names for Neighbourhood values showing Not assigned

In [5]:
df_filtered['Neighbourhood'].replace('Not assigned', df_filtered['Borough'], inplace=True)

In [9]:
df_filtered.head(10)

   PostalCode           Borough     Neighbourhood
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights
8         M6A        North York    Lawrence Manor
9         M7A      Queen's Park      Queen's Park
11        M9A         Etobicoke  Islington Avenue
12        M1B       Scarborough             Rouge
13        M1B       Scarborough           Malvern

### Group the rows with same Postal Code to show Neighbourhood in comma separated values

In [10]:
df_grouped = df_filtered.groupby('PostalCode').agg({'Borough':'first',
                                   'Neighbourhood': ','.join}).reset_index()

In [12]:
df_grouped.tail(10)

    PostalCode     Borough                                      Neighbourhood
93         M9A   Etobicoke                                   Islington Avenue
94         M9B   Etobicoke  Cloverdale,Islington,Martin Grove,Princess Gar...
95         M9C   Etobicoke  Bloordale Gardens,Eringate,Markland Wood,Old B...
96         M9L  North York                                      Humber Summit
97         M9M  North York                                    Emery,Humberlea
98         M9N        York                                             Weston
99         M9P   Etobicoke                                          Westmount
100        M9R   Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101        M9V   Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102        M9W   Etobicoke                                          Northwest

### Print the shape of the dataframe

In [14]:
df_grouped.shape

(103, 3)

## Update Latitude and Longitude against each Postal Code/ Borough

In [17]:
import pandas as pd

In [19]:
!wget -q -O 'Geospatial_Coordinates.csv' http://cocl.us/Geospatial_data
print('Data Downloaded')

Data Downloaded

In [21]:
df_coord = pd.read_csv('Geospatial_Coordinates.csv')
df_coord.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
toronto_merged = df_grouped

In [25]:
toronto_merged = toronto_merged.join(df_coord.set_index('Postal Code'), on = 'PostalCode')

In [27]:
toronto_merged.tail(12)

,PostalCode,Borough,Neighbourhood,Latitude,Longitude
91,M8Y,Etobicoke,"Humber Bay,King's Mill Park,Kingsway Park Sout...",43.636258,-79.498509
92,M8Z,Etobicoke,"Kingsway Park South West,Mimico NW,The Queensw...",43.628841,-79.520999
93,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
94,M9B,Etobicoke,"Cloverdale,Islington,Martin Grove,Princess Gar...",43.650943,-79.554724
95,M9C,Etobicoke,"Bloordale Gardens,Eringate,Markland Wood,Old B...",43.643515,-79.577201
96,M9L,North York,Humber Summit,43.756303,-79.565963
97,M9M,North York,"Emery,Humberlea",43.724766,-79.532242
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village,Martin Grove Gardens,Richvie...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens,Beaumond Heights,Humbergate,Jam...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054