# Toronto Neighborhood Data

In [53]:
import pandas
import requests
from bs4 import BeautifulSoup
website_text = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M').text
soup = BeautifulSoup(website_text,'xml')

table = soup.find('table',{'class':'wikitable sortable'})
table_rows = table.find_all('tr')

data = []
for row in table_rows:
    data.append([t.text.strip() for t in row.find_all('td')])

df = pandas.DataFrame(data, columns=['PostalCode', 'Borough', 'Neighbourhood'])
df = df[~df['PostalCode'].isnull()]  # to filter out bad rows

In [57]:
df.head(10)

   PostalCode           Borough     Neighbourhood
1         M1A      Not assigned      Not assigned
2         M2A      Not assigned      Not assigned
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights
8         M6A        North York    Lawrence Manor
9         M7A      Queen's Park      Not assigned
10        M8A      Not assigned      Not assigned

### Delete all rows with Borough values as Not assigned

In [59]:
df = df.drop(df[df.Borough == 'Not assigned'].index)

In [61]:
df.head(10)

   PostalCode           Borough     Neighbourhood
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights
8         M6A        North York    Lawrence Manor
9         M7A      Queen's Park      Not assigned
11        M9A         Etobicoke  Islington Avenue
12        M1B       Scarborough             Rouge
13        M1B       Scarborough           Malvern

### Replace the Neighbourhood names with Borough names for Neighbourhood values showing Not assigned

In [70]:
df['Neighbourhood'].replace('Not assigned', df['Borough'], inplace=True)

In [71]:
df.head(10)

   PostalCode           Borough     Neighbourhood
3         M3A        North York         Parkwoods
4         M4A        North York  Victoria Village
5         M5A  Downtown Toronto      Harbourfront
6         M5A  Downtown Toronto       Regent Park
7         M6A        North York  Lawrence Heights
8         M6A        North York    Lawrence Manor
9         M7A      Queen's Park      Queen's Park
11        M9A         Etobicoke  Islington Avenue
12        M1B       Scarborough             Rouge
13        M1B       Scarborough           Malvern

### Group the rows with same Postal Code to show Neighbourhood in comma separated values

In [73]:
df = df.groupby('PostalCode').agg({'Borough':'first',
                                   'Neighbourhood': ','.join}).reset_index()

In [76]:
df.tail(10)

    PostalCode     Borough                                      Neighbourhood
93         M9A   Etobicoke                                   Islington Avenue
94         M9B   Etobicoke  Cloverdale,Islington,Martin Grove,Princess Gar...
95         M9C   Etobicoke  Bloordale Gardens,Eringate,Markland Wood,Old B...
96         M9L  North York                                      Humber Summit
97         M9M  North York                                    Emery,Humberlea
98         M9N        York                                             Weston
99         M9P   Etobicoke                                          Westmount
100        M9R   Etobicoke  Kingsview Village,Martin Grove Gardens,Richvie...
101        M9V   Etobicoke  Albion Gardens,Beaumond Heights,Humbergate,Jam...
102        M9W   Etobicoke                                          Northwest

### Print the shape of the dataframe

In [77]:
df.shape

(103, 3)